.control-button {
  background-color: white;
  border: 1px solid #c0c7d0;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.control-button.enabled {
  color: #383838;
}

.control-button.enabled:hover {
  background-color: #f1f5f9;
  color: #1e293b;
  border-color: #94a3b8;
}

.control-button.disabled {
  color: #c0c7d0;
  background-color: white;
  border-color: #c0c7d0;
}

.control-button.disabled:hover {
  background-color: white;
  color: #c0c7d0;
  border-color: #c0c7d0;
}
